@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto:wght@300&display=swap');


/* Overall Rules */
:root {
  --logo-color: #606C38;
  --logo-color-dark: #283618;
  --pop-color-dark: #bc6c25;
  --pop-color-light: #dda15e;
  --background-color: #fefae0;
  background-color: var(--background-color);
}

* {
  margin: 0;
  font-family: "Roboto";
  color: #333;
}

h1, h2, h3 {
  margin: 0;
  font-family: "Abril Fatface";
  color: var(--logo-color-dark);
}
.navbar {
  padding: 20px;
  align-items: center;
  border-bottom: 1px solid #f2f2f2;
  width: 150px;
  height: 100vh;
  position: fixed;
  background-color: var(--logo-color);
}
.navbar h1 {
  color: var(--background-color);
}
.navbar .links {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.navbar a {
  text-decoration: none;
  width: 80%;
  padding: 10px;
  color: var(--background-color);
}
.navbar a:hover {
  background-color: var(--pop-color-light);
  color: var(--background-color);
  border-radius: 8px;
}

/* Recipe Blocks */
.recipe-preview {
  padding: 10px 16px;
  margin: 20px;
  border-bottom: 1px solid var(--background-color);
  width: 150px;
  height: 200px;
  border: 2px var(--logo-color) solid;
  border-radius: 20px;
  text-decoration: none;
  justify-content: left;
}

.recipe-preview a {
  text-decoration: none;
}

.recipe-preview:hover {
  box-shadow: 1px 3px 5px var(--logo-color-dark);
}

.recipe-preview h2 {
  font-size: 20px;
  color: var(--logo-color-dark);
  margin-bottom: 8px;
}

.home {
  width: calc(100% - 200px);
  padding-left: 250px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
  padding-top: 50px;
}

.home button {
  border-radius: 25px;
  background-color: var(--pop-color-dark);
  color: var(--background-color);
  border: var(--pop-color-dark) 2px solid;
  padding: 10px;
  margin: 5px;
  display: inline-block;
}

.home button:hover {
  background-color: var(--pop-color-light);
}

.filters {
  background-color: var(--logo-color);
  border-radius: 25px;
  border: var(--logo-color-dark) 2px solid;
  padding: 10px;
  margin: 5px;
  display: inline-block;
}

.filters span {
  padding-left: 10px;
  color: var(--background-color);
  font-size: 20px;
}

.hidden {
  position: absolute;
  visibility: hidden;
  opacity: 0;
}

input[type=checkbox]+label {
  border-radius: 25px;
  background-color: var(--background-color);
  color: var(--logo-color);
  border: var(--logo-color) 2px solid;
  padding: 10px;
  margin: 5px;
  display: inline-block;
}

input[type=checkbox]:checked+label {
  background-color: var(--logo-color);
  color: var(--background-color);
  border: var(--background-color) 2px solid;
}

.RecipeContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
}

.recipe-details {
  width: calc(100% - 200px);
  padding-left: 200px;
  display: flex;
}

/*Create Recipe*/
.create {
  width: calc(100% - 200px);
  padding-left: 250px;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}

.create label {
  text-align: left;
  display: block;
  font-size: 25px;
}

.create input {
  width: 50vw;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid var(--background-color);
  box-sizing: border-box;
  display: block;
  font-size: 20px;
}

.create button {
  background: var(--pop-color-light);
  color: var(--background-color);
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 25px;
}

.create form {
  padding: 20px;
}

/*Login*/
.login {
  width: calc(100% - 200px);
  padding: 10vw;
  padding-left: 250px;
}

.login label {
  text-align: left;
  display: block;
  font-size: 25px;
}

.login input {
  width: 50vw;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid var(--background-color);
  box-sizing: border-box;
  display: block;
  font-size: 20px;
}

.login button {
  background: var(--pop-color-light);
  color: var(--background-color);
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 25px;
}

.login form {
  padding: 20px;
}

/*CookBook*/
.CookBook {
    width: calc(100% - 200px);
    padding-top: 50px;
    padding-left: 250px;
}

/*Profile*/
.profile {
  width: calc(100% - 200px);
  padding-top: 50px;
  padding-left: 250px;
}