@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto:wght@300&display=swap');

:root {
  --logo-color: #606C38;
  --pop-color-dark: #bc6c25;
  --pop-color-light: #dda15e;
  --background-color: #fefae0;
  background-color: var(--background-color);
}

* {
  margin: 0;
  font-family: "Roboto";
  color: #333;
}

h1, h2, h3 {
  margin: 0;
  font-family: "Abril Fatface";
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: var(--logo-color);
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  background-color: var(--pop-color-light);
  color: var(--background-color);
  border-radius: 8px;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

